<%- contentFor('body') %>

<script type="text/javascript" src="/js/child-parent-view.js" defer></script>

<div class="center-align">
    <h3><%= child.first_name %></h3>
    <table class="bordered">
      <thead>
          <tr>
              <th>Chore</th>
              <th>Description</th>
              <th>Start</th>
              <th>Completion Date</th>
              <th>Weekly Chores</th>
              <th>Value</th>
              <th>Completed</th>
              <th>Approved</th>
          </tr>
        </thead>

        <tbody>
          <% for(let chore of child.chores){ %>
            <tr>
              <td><%= chore.title %></td>
              <td><%= chore.description %></td>
              <td><%= chore.start_date %></td>
              <td><%= chore.end_date %></td>
              <td><%= chore.recur_weekly %></td>
              <td><%= chore.value %></td>
              <td><%= chore.approved %></td>
              <td><%= chore.completed %></td>
            </tr>
          <% } %>
    </table>

    <div class="row">
      <form class="col s12 m6 offset-m3" action="/family/chores/add" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" name="title" class="validate" required>
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="description" name="description" type="text">
            <label for="description">Description (optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="start_date" type="text" class="datepicker" name="start_date" required>
            <label for="start_date">Start Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="end_date" type="text" class="datepicker" name="end_date">
            <label for="end_date">End Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="value" type="number" name="value" class="validate">
            <label for="value">Value</label>
          </div>
        </div>
        <input type="text" name="child_id" value="<%= child.id %>" hidden>
        <button class="btn" type="submit">Add Chore</button>
      </form>


    </div>

</div>
