<%- contentFor('body') %>


<div class= "container">
  <h1><%= child.first_name %>: Chores</h1>

  <table class="bordered">
        <thead>
          <tr>
              <th>Chore</th>
              <th>Description</th>
              <th>Start</th>
              <th>Completion Date</th>
              <th>Weekly Chores</th>
              <th>Value</th>
              <th>Completed</th>

          </tr>
        </thead>

        <tbody>
          <% for(let i = 0; i <chores.length; i++){ %>
            <tr>
              <td><%= chores[i].title %></td>
              <td><%= chores[i].description %></td>
              <td><%= chores[i].start_date %></td>
              <td><%= chores[i].end_date %></td>
              <td><%= chores[i].recur_weekly %></td>
              <td><%= chores[i].value %></td>
              <td><a href="<%=chores[i].completed ? `chore/incompleted/${chores[i].id}`: `chore/completed/${chores[i].id}` %>"><input type="checkbox" class= "" <%= chores[i].completed ? checked = "checked": ""%> ><label></label></a></td>
            </tr>
          <% } %>
      </table>
</div>

<div class="container">
  <h2>Completed Chores</h2>
  <table class="bordered">
    <thead>
      <tr>
          <th>Chore</th>
          <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <chores.length; i++){ %>
        <% if(chores[i].approved === true){ %>
        <tr>
          <td><%= chores[i].title %></td>
          <td><%= chores[i].approved %></td>
        </tr>
      <% } %>
      <% } %>
    <tbody>
  </table>
</div>
