<%- contentFor('body') %>

<% if (message) { %>
  <% include ../partials/error.ejs %>
<% } %>

<div class= "container">
  <h1><%= child.first_name %>: Chores</h1>

  <table class="bordered">
        <thead>
          <tr>
              <th>Chore</th>
              <th>Description</th>
              <th>Start</th>
              <th>Completion Date</th>
              <th>Value</th>
              <th>Completed</th>
          </tr>
        </thead>

        <tbody>
          <% for(let chore of chores){ %>
            <tr>
              <td><%= chore.title %></td>
              <td><%= chore.description %></td>
              <td><%= chore.start_date ? chore.start_date.toString().replace(/ \d{2}:.+$/,"") : "" %></td>
              <td><%= chore.end_date ? chore.end_date.toString().replace(/ \d{2}:.+$/,"") : "" %></td>
              <td><%= chore.value %></td>
              <td><a href="<%=chore.completed ? `/chore/incomplete/${chore.id}`: `/chore/complete/${chore.id}` %>"><input type="checkbox" class= "" <%= chore.completed ? checked = "checked": ""%> ><label></label></a></td>
            </tr>
          <% } %>
      </table>
</div>

<div class="container">
  <h2>Completed Chores</h2>
  <table class="bordered">
    <thead>
      <tr>
          <th>Chore</th>
          <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <chores.length; i++){ %>
        <% if(chores[i].approved === true){ %>
        <tr>
          <td><%= chores[i].title %></td>
          <td><%= chores[i].approved %></td>
        </tr>
      <% } %>
      <% } %>
    <tbody>
  </table>
</div>
