<%- contentFor('body') %>

<script type="text/javascript" src="/js/child-parent-view.js" defer></script>


<div class="center-align">
    <h3><%= child.first_name %></h3>
    <table class="bordered">
      <thead>
          <tr>
              <th>Chore</th>
              <th>Description</th>
              <th>Start</th>
              <th>Completion Date</th>
              <th>Weekly Chores</th>
              <th>Value</th>
              <th>Completed</th>
              <th>Approved</th>
          </tr>
        </thead>

        <tbody>
          <% for(let chore of child.chores){ %>
            <tr>
              <td><%= chore.title %></td>
              <td><%= chore.description %></td>
              <td><%= chore.start_date %></td>
              <td><%= chore.end_date %></td>
              <td><%= chore.recur_weekly %></td>
              <td><%= chore.value %></td>
              <td><%= chore.approved %></td>
              <td><%= chore.completed %></td>
            </tr>
          <% } %>
    </table>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Add Chore<i class="material-icons right">add</i></a>
    <div id="modal2" class="modal">
    <div class="modal-content">
      <div class="center-align">

    <div class="row">
      <form class="col s12 m6 offset-m3" action="/family/chores/add" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" name="title" class="validate" tabindex="1" required>
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="description" name="description" type="text" tabindex="2">
            <label for="description">Description (optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="value" type="number" name="value" value="0" tabindex="3">
            <label for="value">Value</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" tabindex="-1">
            <input id="start_date" type="text" class="datepicker" name="start_date" tabindex="-1">
            <label for="start_date">Start Date (optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" tabindex="-1">
            <input id="end_date" type="text" class="datepicker" name="end_date" tabindex="-1">
            <label for="end_date">End Date (optional)</label>
          </div>
        </div>
        <input type="text" name="child_id" value="<%= child.id %>" hidden>
        <button class="btn" type="submit" tabindex="4">Add Chore</button>
      </form>

</div>
</div>
</div>
    </div>

    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit child<i class="material-icons right">edit</i></a>
    <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="center-align">
      <div class="row">
        <form class="col s12 m6 offset-m3" action="/family/children/edit/<%= child.id %>" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="first_name" type="text" name="first_name" class="validate" value="<%=child.first_name%>">
              <label for="username">First Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" name="username" class="validate" value="<%=child.username%>">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password">
              <label for="value">Reset Password</label>
            </div>
          </div>
          <input type="text" name="child_id" value="<%= child.id %>" hidden>
          <button class="btn" type="submit" tabindex="4">Edit Child</button>
        </form>
    </div>
  </div>

  </div>
    </div>
    <div class="center-align">
      <a href=""></a><button class="btn-large waves-effect waves-light" type="submit" name="action">Delete Child
        <i class="material-icons right">delete</i>
      </button></a>
</div>
</div>
