<%- contentFor('body') %>

<% if (message) { %>
  <% include ../partials/error.ejs %>
<% } %>

<script type="text/javascript" src="/js/child.js" defer></script>

<div class= "container" style="border: solid 3px; border-radius: 4%; opacity: 0.8; background-color: ghostwhite; margin-top: 2%; border-color: ghostwhite;">
  <h1 style="margin-top: 1%;"><%= child.first_name %>'s Chores </h1>

  <table class="bordered">
        <thead>
          <tr>
              <th style="opacity: 0;">___</th>
              <th>Chore</th>
              <th>Description</th>
              <th>Deadline</th>
              <th>Value</th>
              <th>Completed</th>
          </tr>
        </thead>

        <tbody>
          <% for(let chore of chores){ %>
              <% if(chore.approved === false){ %>
            <tr>
              <td class="chore-icon"></td>
              <td class="chore-title"><%= chore.title %></td>
              <td><%= chore.description %></td>
              <td><%= chore.end_date ? chore.end_date.toString().replace(/ \d{2}:.+$/,"") : "" %></td>
              <td><%= chore.value %></td>
              <td><a href="<%=chore.completed ? `/chores/uncomplete/${chore.id}`: `/chores/complete/${chore.id}` %>"><input type="checkbox" class= "" <%= chore.completed ? checked = "checked": ""%> ><label></label></a></td>
            </tr>
          <% } %>
          <% } %>
      </table>
</div>

<div class="container" style="border: solid 3px; border-radius: 4%; opacity: 0.8; background-color: ghostwhite; margin-top: 2%; margin-bottom:2%; border-color: ghostwhite;">
  <h2 style="margin-top: 1%;">Completed Chores</h2>
  <table class="bordered">
    <thead>
      <tr>
          <th style="opacity: 0;">___</th>
          <th>Chore</th>
          <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <chores.length; i++){ %>
        <% if(chores[i].approved === true){ %>
        <tr>
          <td class="chore-icon"></td>
          <td class=""><%= chores[i].title %></td>
          <td><%= chores[i].approved %></td>
        </tr>
      <% } %>
      <% } %>
    <tbody>
  </table>
</div>
