<%- contentFor('body') %>

<% if (message) { %>
  <% include ../partials/error.ejs %>
<% } %>

<script type="text/javascript" src="/js/child.js" defer></script>

<div class= "content-box">
  <h1 style="margin-top: 1%;"><%= child.first_name %>'s Chores </h1>

  <table class="bordered responsive-table centered">
        <thead>
          <tr>
              <th style="opacity: 0;">___</th>
              <th>Chore</th>
              <th>Description</th>
              <th>Deadline</th>
              <th>Value</th>
              <th>Completed</th>
          </tr>
        </thead>

        <tbody>
          <% for(let chore of chores){ %>
              <% if(chore.approved === false){ %>
            <tr>
              <td class="chore-icon"></td>
              <td class="chore-title"><%= chore.title %></td>
              <td class="chore-description"><%= chore.description %></td>
              <td class="chore-end"><%= chore.end_date ? chore.end_date.toString().replace(/ \d{2}:.+$/,"") : "" %></td>
              <td class="chore-value"><%= +chore.value %></td>
              <td class="chore-completed"><a href="<%=chore.completed ? `/chores/uncomplete/${chore.id}`: `/chores/complete/${chore.id}` %>"><input type="checkbox" class= "" <%= chore.completed ? checked = "checked": ""%> ><label></label></a></td>
            </tr>
          <% } %>
          <% } %>
      </table>
</div>

<br>


<% if (chores.filter(c=>c.approved).length) { %>
<div class="content-box">
  <h4>Total Earnings: <%= totalPendingEarnings %></h4>
  <table class="bordered responsive-table centered">
    <thead>
      <tr>
          <th style="opacity: 0;">___</th>
          <th>Chore</th>
          <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i <chores.length; i++){ %>
        <% if(chores[i].approved === true){ %>
        <tr>
          <td class="chore-icon"></td>
          <td class="chore-title"><%= chores[i].title %></td>
          <td><%= +chores[i].value %></td>
        </tr>
      <% } %>
      <% } %>
    <tbody>
  </table>
</div>
<% } %>
